:root {
    --h1-color: -webkit-linear-gradient(90deg, #eee, #1178df);
}

h1 {
    width: 100%;
    font-size: 35px;
    margin-left: 5vw;
    background: var(--h1-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flexx {
    display: flex;
    justify-content: center;
}

.w70 {
    width: 70%;
}

.w20 {
    width: 20%;
}

@media screen and (max-width:1075px) {
    .main-stack {
        width: 80% !important;
    }
}